@media screen{
    /* Invert Everything! */
    html[dark-mode="on"],
    html[dark-mode="on"] .dark-mode{
        -webkit-filter: invert(100%) hue-rotate(180deg) contrast(85%);
    }

    /* Chrome 45 madness! */
    /* Add a black background to the html element, otherwise, everything */
    /* is inverted on a white background, and effectively unreadable */
    html[dark-mode="on"] {
        background-color: #171717;
    }

    /* Re-invert things we don't want inverted */

    /* Anything with a background-image */
    html[dark-mode="on"] .no-dark-mode,
    /* All images */
    html[dark-mode="on"] img,
    /* Youtube video, and player */
    html[dark-mode="on"] .player-api,
    /* Vimeo video and player */
    html[dark-mode="on"] .flideo, .video-wrapper
    /* Anything flash */
    html[dark-mode="on"] object[type="application/x-shockwave-flash"],
    html[dark-mode="on"] embed[type="application/x-shockwave-flash"],
    /* Netflix */
    html[dark-mode="on"] #SLPlayer,
    /* Google Images */
    html[dark-mode="on"] #irc_cc,
    /* Anything with a background image set in html */
    html[dark-mode="on"] *[style*=background-image]
    {
        -webkit-filter: invert() hue-rotate(-180deg) contrast(100%);
    }

    /* jQuery Background Image Inversion */
    html[dark-mode="on"] .dark-mode > *,
    html[dark-mode="on"] .dark-mode > * > * > *,
    html[dark-mode="on"] .dark-mode > * > * > * > * > *{
        -webkit-filter: invert() contrast(1);
    }
}
